body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "ObjectSans-Regular";
    src: url("assets/fonts/ObjectSans/ObjectSans-Regular.otf");
}

@font-face {
    font-family: "ObjectSans-Heavy";
    src: url("assets/fonts/ObjectSans/ObjectSans-Heavy.otf");
}

@font-face {
    font-family: "ObjectSans-HeavySlanted";
    src: url("assets/fonts/ObjectSans/ObjectSans-HeavySlanted.otf");
}

@font-face {
    font-family: "acrotype";
    src: url("assets/fonts/acroscript/acrotype.ttf");
}


@font-face {
    font-family: "Pattaya-Regular";
    src: url("assets/fonts/Pattaya/Pattaya-Regular.ttf");
}
